{{page-title "Generated Images Samples"}}

<h2 id="title">Generated Images</h2>

<h2>Original Shapes</h2>
    <img alt="square" src="/square.svg">
    <img alt="circle" src="/circle.svg">


<h2>Transparent Circle</h2>
<div class="transparent-circle">
  <img alt="transparent-circle" src="/assets/icons/transparent-circle100.png">
</div>

<h2>Circle With Green Background</h2>
<div class="circle-with-green-background">
  <img
    alt="circle-with-green-background"
    src="/assets/icons/circle-with-green-background100.jpg"
  >
</div>


<h2>Sized Squares</h2>
<div class="squares">
  <img alt="square-16" src="/assets/icons/icon-square16.png">
  <img alt="square-32" src="/assets/icons/icon-square32.png">
  <img alt="square-45" src="/assets/icons/icon-square45.png">
  <img alt="square-900" src="/assets/icons/icon-square900.png">
</div>

<h2>Square in a different destination</h2>
<div class="square-in-a-different-destination">
  <img alt="large-test-square" src="/big/images/bigsquare200.png">
</div>
