<h1 id="title">Generated Images</h1>

<h2>Original Shapes</h2>
    <img src='square.svg'>
    <img src='circle.svg'>


<h2>Transparent Circle</h2>
<div class='transparent-circle'>
  <img src='assets/icons/transparent-circle100.png'>
</div>

<h2>Circle With Green Background</h2>
<div class='circle-with-green-background'>
  <img src='assets/icons/circle-with-green-background100.jpg'>
</div>


<h2>Sized Squares</h2>
<div class='squares'>
  {{#each sizes as |size|}}
    <img src={{concat 'assets/icons/icon-square' size '.png' }}>
  {{/each}}
</div>
