<h1 id="title">Generated Images</h1>

<h2>Original Shapes</h2>
    <img src='/square.svg'>
    <img src='/circle.svg'>


<h2>Transparent Circle</h2>
<div class='transparent-circle'>
  <img src='/assets/icons/transparent-circle100.png'>
</div>

<h2>Circle With Green Background</h2>
<div class='circle-with-green-background'>
  <img src='/assets/icons/circle-with-green-background100.jpg'>
</div>


<h2>Sized Squares</h2>
<div class='squares'>
  <img src='/assets/icons/icon-square16.png'>
  <img src='/assets/icons/icon-square32.png'>
  <img src='/assets/icons/icon-square45.png'>
  <img src='/assets/icons/icon-square900.png'>
</div>

<h2>Square in a different destination</h2>
<div class='square-in-a-different-destination'>
  <img src='/big/images/bigsquare200.png'>
</div>
