name: Release Notes

on:
  push:
    tags:
      - "*"

jobs:
  notes:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6
      with:
        fetch-depth: 0
    - uses: actions/setup-node@v6
    - uses: ncipollo/release-action@v1
      with:
        token: ${{ secrets.MY_TOKEN }}
        generateReleaseNotes: true
